body {
    font-family: sans-serif;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    font-family: monospace;
}

.wrapper {
    max-width: 56rem;
    margin-inline: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

#combat-log {
    display: flex;
    flex-direction: column-reverse;
}

.low-hp {
    color: red;
    font-weight: bold;

    transition: all 0.3s ease;
    transform: scale(1.05)
}