body {
    font-family: sans-serif;
    font-size: 1.2rem;
}



.wrapper {
    max-width: 56rem;
    margin-inline: auto;
    padding-right: 1rem;
    padding-left: 1rem;

    ul {
        list-style: none;
        font-family: monospace;
    }
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 2px;
    font-size: 1rem;
    cursor: pointer;  
    background-color: #f5f5f5;  
}

button:hover {
    background-color: #eee;
    border-radius: 5px;
}


#combat-log {
    display: flex;
    flex-direction: column-reverse;

    .player {
        color: green;
    }
    .enemy {
        color: red;
    }
}

.low-hp {
    color: red;
    font-weight: bold;

    transition: all 0.3s ease;
    animation: pulse 1s infinite, colorpulse 1s infinite;
}



@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes colorpulse {
    0% {
        color: red;
    }
    50% {
        color: darkred;
    }
    100% {
        color: red;
    }
}