body {
    font-family: sans-serif;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    font-family: monospace;
}

.wrapper {
    max-width: 56rem;
    margin-inline: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

#combat-log {
    display: flex;
    flex-direction: column-reverse;
}